.overlay {
  position: fixed; /* Keeps workbench at the same position in webpage */
  right: 25%;
  bottom: 5%;
  width: 50%;
  height: 30%;
  z-index: 100000000;
}

.appbar {
  position: static;
  width: 100%
}

.toolbar {
  position: relative;
  background-color: green;
  top: 0px;
  width: 100%;
  height: 15%;
  padding: 0px;
}

.paper {
  position: relative;
  width: 100%;
  height: 100%;
}

.box {
  position: relative;
  top: auto;
  vertical-align: bottom;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 80%;
}

.stack {
  position: absolute;
  top: 0px;
  padding-right: 5px;
  right: 0px;
  width: 20%;
  height: 100%;
}